body {
    background-color: tomato;
}

.bg-light {
    background-color: #17a2b8;
    
}

.navbar navbar-expand-lg navbar-light bg-light {
    float: left;
    display: flex;
    height: 20px;
    text-align: center;
    width: 95px;
    padding: 10px 20px;
    border-right: 1px solid;
}

.nav-link:hover{
    transform: scale(1.1);
}


#projectsPage {
    display: flex;
    flex-wrap: wrap;
    height:auto;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
}

.card-body {
    background-color: blueviolet
}