@import "~bootstrap/scss/bootstrap";

body {
    background-color: #EEFCCE;
}

#font{
    text-align: center;
}


.bg-light {
    background-color: #17a2b8;
    
}

.navbar navbar-expand-lg navbar-light bg-light {
    float: left;
    display: flex;
    height: 20px;
    text-align: center;
    width: 95px;
    padding: 10px 20px;
    border-right: 1px solid;
}

.nav-link:hover{
    transform: scale(1.1);
}


#projectsPage {
    display: flex;
    flex-wrap: wrap;
    height:auto;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
}

.card-body {
    background-color: #7B7554;
    margin: 3px;

}

.pic {
    height: 180;
    width: 180;
    margin: 0 auto;
    display: block;
    border-style: solid;
}

.aboutMe{
    width:75%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fab {
    margin: 5px;
}

#jstag {
    width: 95px;
    height: 95px;
  }
  
  #hmtltag {
    width: 100px;
    height: 95px;
  }
  
  #csstag {
    width: 90px;
    height: 95px;
  }
  
  #firebasetag {
    width: 100px;
    height: 95px;
  }
  
  #npmtag {
    width: 100px;
    height: 95px;
  }
  
  #reactTag {
    width: 100;
    height: 95px;
  }
  
  #bootstrapTag {
    width: 95px;
    height: 95px;
  }